{erl_opts, [
    {debug_info, {debug_info_v1, erl_abstract_code}},
    warnings_as_errors,
    warn_export_vars,
    warn_unused_import,
    warn_missing_spec
]}.

{deps, []}.

{plugins, []}.

{profiles, [
    {test, [
        {deps, []},
        {erl_opts, [
            debug_info,
            nowarn_missing_spec,
            nowarn_export_all
        ]}
    ]}
]}.

{project_plugins, []}.

{cover_enabled, false}.

{dialyzer, [
    {warnings, [
        error_handling,
        unknown,
        unmatched_returns
    ]},
    {get_warnings, true},
    {plt_apps, top_level_deps},
    {plt_extra_apps, []},
    {plt_location, local},
    {base_plt_apps, [erts, kernel, stdlib]},
    {base_plt_location, global},
    {base_plt_prefix, "rebar3"}
]}.

{xref_checks, [
    undefined_function_calls,
    undefined_functions,
    locals_not_used,
    deprecated_function_calls,
    deprecated_functions
]}.

{port_specs, [
    {"priv/sensehat_drv.so", ["c_src/sensehat_drv.c"]},
    {"priv/sensestick_drv.so", ["c_src/sensestick_drv.c"]}
]}.

{port_env, [
    {"CFLAGS", "$CFLAGS -Wall -Wextra -Wformat -fPIC"},
    {"LDFLAGS", "$LDFLAGS -shared"}
]}.
